<div class="row">
    <div *ngFor="let l of itemsTotalfromServer">
  <div class="col-md-6 col-md-offset-3">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">2</span>
        <strong>{{l.message.name}}</strong>
        <span class="label label-success">${{l.message.amount}}</span>
        <div class="btn-group">
          <button class="dropdown-toggle btn-xs btn btn-primary" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a (click)="onDeletePressed(l.message._id)" >Delete Product</a></li>
            <li><a (click)="onClearCartPressed()">Clear Cart</a></li>     
          </ul>
        </div>
      </li>
    </ul>
  </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <strong>Total : {{totalPrice}} </strong>
    </div>
</div>
<hr>
<div class="row" *ngIf="totalPrice">
    <div class="col-md-6 col-md-offset-3">
        <button class="btn btn-success" (click)="checkoutPressed()" type="button">Checkout</button>
      </div>
</div>

<div class="row" *ngIf="!totalPrice">
    <div class="col-md-6 col-md-offset-3">
      <h3>No items in cart </h3>
    </div>
</div>