<div class="container">
<div class="row">
    <div *ngFor="let l of product">
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="thumbnail">
                <img src="{{l.imagePath}}" alt="..." class="img-responsive">
                <div class="caption">
                  <h3>{{l.name}}</h3>
                  <p>{{l.description}}</p>
                  <div class="clearfix">
                      <p class="pull-left"><strong>${{l.amount}}</strong></p>
                      <div><a class="btn btn-success pull-right" (click)="onAddPressed(l._id)" role="button">Add to Shopping Cart</a>    
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>
</div>



