<div class="jumbotron text-center">
    <h1>MEAN Stack Application</h1>
    <p class="text-center">Welcome to the MEAN Stack Application by <strong>Abhishek Gupta</strong></p>
    <div>
      <a href="#" class="btn btn-primary">Register</a>
      <a href="#" class="btn btn-default">Login</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="https://image.flaticon.com/icons/svg/417/417745.svg" alt="placeholder image" width="140" height="140">
        <div class="caption">
          <h3>MongoDB</h3>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-3">
      <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417746.svg" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <h3>ExpressJS</h3>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-3">
      <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417751.svg" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <h3>Angular 2</h3>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-3">
      <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417754.svg" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <h3>NodeJS</h3>
        </div>
      </div>
    </div>
  
  </div>