<h1 class="page-header">Blog Feed</h1>

<button type="button" name="button" class="btn btn-default" (click)="newBlogForm()" *ngIf=newPost>New Post</button>
<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-warning" (click)="readBlogs()">Reload</button>
<br><br>
<div [ngClass]="messageClass">{{message}}</div>

<div *ngIf="processedForm">
  <!-- New Blog -->
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()" *ngIf="!newPost" >  
      
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" formControlName="title">
          </div>  
    
          <div class="form-group">
              <label for="body">Body</label>
              <input type="text" id="body" class="form-control" formControlName="body">
            </div>  
            <button type="submit" (click)="ongoback()" class="btn btn-primary">Go Back</button>
            <button [disabled]="!blogForm.valid" type="submit" class="btn btn-primary">Submit</button>
        <br>
    </form>
<!-- New Blog -->

</div>
<div *ngIf="newPost">
  <div class= "panel panel-primary container" *ngFor="let l of blogPost?.message">
   <br><hr>
    <div class="panel-heading">
      <h3 class="panel-title">{{l.title}}</h3>
    </div>
    <div class="panel-body">
      {{l.body}}   
    </div>
    <div class="panel-footer">
      <strong>Posted By:  {{l.createdBy}}</strong>
      <br>
      <strong>Date: {{l.createdAt | date: 'MMMM dd, yyyy' }}</strong>
    </div>

<div>
    <strong>Likess By: {{l.likes}} </strong>
    <br>
    <strong>Dislikes: {{l.dislikes}} </strong>
</div>

 
    <br>
    <div *ngIf="(l.createdBy === a)">
       <a (click)="onEditClicked(l._id)"><button class="btn btn-info">Edit</button></a> 
       <a (click)="onDeleteClicked(l._id)"><button class="btn btn-danger">Delete</button> </a>   
    </div>
    <div class="dropdown" *ngIf="!(l.createdBy === a)">
        <button class="btn btn-success" (click)="onLikePressed(l._id)">Likes {{l.likes}}</button>
        <div class="dropdown-content">
          <a *ngFor="let l1 of l.likedBy" href="#">{{l1}}</a>
         
        </div>
    </div>

    <div class="dropdown" *ngIf="!(l.createdBy === a)">
        <button class="btn btn-warning" (click)="ondisLikePressed(l._id)" >Dislike {{l.dislikes}}</button>
        <div class="dropdown-content">
            <a *ngFor="let l2 of l.dislikedBy" href="#">{{l2}}</a>
         </div>
    </div>
 
  <ul class="list-group">
    <h2>
      <button class="btn-danger btn btn-sm" (click)="draftComment(l._id)" [disabled]= "newComment.indexOf(l._id) > -1" >Post Comment</button>
    </h2>
      <br>
    <div *ngIf= "newComment.indexOf(l._id) > -1">
        <form [formGroup]="commentFormValue" (ngSubmit)="onCommentFormSubmit()">  
            <textarea name="comment" rows="8" cols="16" class="form-control" formControlName="comment"></textarea>

            <button class="btn btn-sm btn-info" type="submit" (click)="postComment(l._id)">Submit</button>
            <button class="btn btn-sm btn-info" type="submit"  (click)="cancelComment(l._id)"  >Cancel</button> 
       </form>
  </div>
         <li *ngIf="enabledComments.indexOf(l._id) === -1 && l.comments.length >0" class="list-group-item">
            <span (click)="expand(l._id)">Show Comments &nbsp;&nbsp;</span>
        </li>
        <li *ngIf="enabledComments.indexOf(l._id) > -1" class="list-group-item"> 
            <span (click)="collapse(l._id)">Hide Comments &nbsp;&nbsp;</span>
        </li>
       <div *ngIf="enabledComments.indexOf(l._id) > -1">
         <li *ngFor= "let comm of l.comments" class="list-group-item">
          <strong>{{comm.commentator}}:</strong> {{comm.comment}}
         </li>
        </div> 
  </ul>
</div>
</div>