<div class="container">

  <div class="row">
    <div [ngClass]="messageClass">{{message}}</div>
  </div>
    <form [formGroup]="addDataForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email">
      </div>  

      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" class="form-control" formControlName="username">
          <span class="help-block" [hidden]="addDataForm.get('username').valid">Enter a valid address</span>
        </div>  

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
          </div>  
            <button [disabled]="!addDataForm.valid" type="submit" class="btn btn-primary">Submit</button>
</form>
</div>