<h1 class="page-header">Edit Blog</h1>

<!-- <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">  
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>  

      <div class="form-group">
          <label for="body">Body</label>
          <input type="text" id="body" class="form-control" formControlName="body">
        </div>  
        <button type="submit" (click)="ongoback()" class="btn btn-primary">Go Back</button>
        <button type="submit" class="btn btn-primary">Save</button>

</form> -->