<!-- Fixed navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
      <a class="navbar-brand" routerLink="/home">MEAN Stack Blog</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/home">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authSer.isAuthenticated()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/dashboard">Products/Games</a></li>
        <li><a  *ngIf="authSer.isAuthenticated()" routerLink="/profile">Profile</a></li>
        <li><a *ngIf="authSer.isAuthenticated()" routerLink="/blog">Blog</a></li>
        <li><a *ngIf="authSer.isAuthenticated()" routerLink="/shopping-cart">Items in Cart</a></li>
        <li><a *ngIf="!authSer.isAuthenticated()" routerLink="/login">Login</a></li>
        <li><a href=# *ngIf="authSer.isAuthenticated()" (click)="onLogoutPressed()">Logout</a></li>
        <li *ngIf="!authSer.isAuthenticated()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/register">Register</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>