<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>Checkout</h1>
        <h4>Your Total: ${{total}}</h4>
      
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" >
            <div  class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" [readonly]="message"  id="name" class="form-control" formControlName="name" name="name">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" [readonly]="message" id="address" class="form-control" formControlName="address" name="address">
                    </div>
                </div>
                <hr>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="cardname">Card Holder Name</label>
                        <input type="text" [readonly]="message" id="cardname" class="form-control" formControlName="cardname" name="cardname">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">     
                        <label for="cardnumber">Credit Card Number</label>
                        <input type="number" [readonly]="message" id="cardnumber" class="form-control" formControlName="cardnumber" name="cardnumber">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="cardexpirymonth">Expiration Month</label>
                                <input type="number" [readonly]="message" id="cardexpirymonth" class="form-control" formControlName="cardexpirymonth" name="cardexpirymonth">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="cardexpiryyear">Expiration Year</label>
                                <input type="number" [readonly]="message" id="cardexpiryyear" class="form-control" formControlName="cardexpiryyear" name="cardexpiryyear">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="cardcvc">CVC</label>
                        <input type="number" [readonly]="message" id="cardcvc" class="form-control" formControlName="cardcvc" name="cardcvc">
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="!paymentForm.valid" class="btn btn-success">Buy now</button>
        </form>
        <h3 *ngIf="message">{{message}}</h3>
    </div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>